@model HospitalManagment.Models.AdminOverviewModelDeclaration

<div class="row">
    <!-- Left Menu -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item active">Menu</li>
            <li class="list-group-item">
                <a href="#" class="list-link" data-url="@Url.Action("GetDepartmentsByAdminId", "Overview", new { adminId = Model.AdminId })">Departments</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="list-link" data-url="@Url.Action("GetAllmedicalStaffByAdminId", "Overview", new { adminId = Model.AdminId })">Medical Staff</a>
            </li>
            <li class="list-group-item">
                <a href="#" class="list-link" data-url="@Url.Action("GetAllPatientsByAdminId", "Overview", new { adminId = Model.AdminId })">Patients</a>
            </li>
        </ul>
    </div>

    <div class="col-md-9">
        <div id="dynamic-content">
            <h3>Select an option from the menu</h3>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).on('click', '.list-link', function (e) {
            e.preventDefault();
            var url = $(this).data('url');
            $('#dynamic-content').load(url);
        });
    </script>
</div>
